body{
	background-color: #343434;
	font-family: sans-serif;
	color: white;
}


#fond{
    display: flex;
	flex-direction: column;
	justify-content: space-around;
}


#menu ul{
	/*Flex*/
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	border-radius: 10px;
	/*sytle*/
	background-color: #7f7f7f;
	list-style: none;
	line-height: 1.5;
}


#menu li{
	/*Flex*/
	align-content: space-around;
}


#menu li a{
	/*Flex*/
	font-family: sans-serif;
	color: white;
	/*sytle*/
	font-size: 150%;
	white-space: nowrap;
}



#titre{

	margin-left:auto ;
	margin-right:auto;
    background-color:  #262A44;
    height:20% ;
    width:70% ;
    border: solid #FFFFFF;
    font: small-caps bold 55px/1 sans-serif;
    color: white;
    text-align: center;
  overflow-x:
}
 

div {

    margin-left:auto ;
	margin-right:auto;
	margin-top: 50px;	
    background-color: white;
     font: small-caps bold 15px/1 sans-serif;
    height:30% ;
    width: 30% ;
    border: solid #FFFFFF;
    background-color: #bcbcbc;
    
}

#payer {

display: flex;
	color : white;
     font: sans-serif;
     font-size: 40px;


}

#gagner {

display: flex;
	color : white;
     font: sans-serif;
     font-size: 40px;


}

#risques {

display: flex;
	color : white;
     font: sans-serif;
     font-size: 40px;


}

#angoisse {

display: flex;
	color : white;
     font: sans-serif;
     font-size: 40px;

}



p1 {
	
	display: flex;
	color : white;
     font: sans-serif;
     font-size: 30px;
    
   
 }

 #image {

    margin-left:auto ;
	margin-right:auto;
	margin-top: 50px;	
    height: 30% ;
    width: 30% ;
    border: solid #FFFFFF;

 }





#texte{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*sytle*/
	margin-top: 3%;/*je n'ai pas reussi a mettre des espace entre avec flex*/
	background-color: #4c4c4c;
	padding: 2%;
	border: solid #FFFFFF;


}

#bas{
	/*Flex*/
	position: middle;
	display: flex;
	justify-content: space-between;
	/*sytle*/
	margin-top: 3%;/*je n'ai pas reussi a mettre des espace entre avec flex*/
	 background-color: white;
	 
	

}


#bas a {
	/*Flex*/
	display: inline-flex;
	align-self: flex-start;
	flex-basis: content;
	

	width: 200px;
	height: 100%;
}


#image_lien{
	/*Flex*/
	width: 200px;
	align-self: flex-start;


}


#as ul {
	list-style: none;
}


#Auteurs{
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	list-style: none;
	color : black;
	font: sans-serif;
     

	
}

#Auteurs p {
	text-decoration: underline;
    

}


#mail{

	font-weight: bold;
	text-decoration: none;
	text-align: center;
	list-style: none;
	color : black;
	font: sans-serif;
    
	
}

#mail p{
	text-decoration: underline;
	
}


#date{

	align-self: flex-end;

	margin-right: 1%;

	font-weight: bold;
	text-decoration: none;
	text-align: center;
	list-style: none;
	color : black;

	

}


p2 {

     font: sans-serif;
     font-size: 35px;

} 

