#fond{
    /*style*/
    background-color: #343434;;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: sans-serif;
    color: white;
}
#menu{
    line-height: 1.5;
}


#menu ul{
    /*Flex*/
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    /*sytle*/
    margin-top: ;
    border-radius: 10px;
    background-color: #7f7f7f;
    list-style: none;
}


#menu li{
    /*Flex*/
    align-content: space-around;
}


#menu li a{
    /*Flex*/
    font-family: sans-serif;
    color: white;
    /*sytle*/
    font-size: 150%;
    white-space: nowrap;
}


#titre{

    margin-left:auto ;
    margin-right:auto;
    background-color: #262A44;
    height:15% ;
    width:25% ;
    border: solid #FFFFFF;
    font: small-caps bold 55px/1 sans-serif;
    color: white;
    text-align: center;
  overflow-x:
}
 

#texte{
    text-align: center;
    display: inline-block;
    background-color: #777777;
    color: white;
    padding-top: 1%;
    height: 100%;
    width: 100%;
    margin-top: 1%;
    font-family: sans-serif;
    border: 4px solid white;
}

table
{
margin-top: 1%;
margin-bottom: 1%;
border-collapse: collapse;
}
td,th 
{
    border: 1px solid black;
}

#bas{
    /*Flex*/
    position: middle;
    display: flex;
    justify-content: space-between;
    /*sytle*/
    margin-top: 3%;/*je n'ai pas reussi a mettre des espace entre avec flex*/
    background-color: white;
    color: black;
}

#bas a {
    /*Flex*/
    display: inline-flex;
    align-self: flex-start;
    flex-basis: content;
    

    width: 200px;
    height: 100%;
}


#image_lien{
    /*Flex*/
    width: 200px;
    align-self: flex-start;
position: absolute;

}


#as ul {
    list-style: none;
}


#Auteurs{
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    list-style: none;
}

#Auteurs p {
    text-decoration: underline;
}


#mail{
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    list-style: none;
}

#mail p{
    text-decoration: underline;
}


#date{

    align-self: flex-end;

    margin-right: 1%;

    font-weight: bold;
    text-decoration: none;
    text-align: center;
    list-style: none;
}