body{
	background-color: #343434;
	font-family: sans-serif;
	color: white;
}


#fond{
	/*Flex*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/*menu de navigation*/
#menu{
	line-height: 1.5;
}


#menu ul{
	/*Flex*/
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	/*sytle*/
	margin-top: ;
	border-radius: 10px;
	background-color: #7f7f7f;
	list-style: none;
}


#menu li{
	/*Flex*/
	align-content: space-around;
}


#menu li a{
	/*Flex*/
	font-family: sans-serif;
	color: white;
	/*sytle*/
	font-size: 150%;
	white-space: nowrap;
}


#image_titre{
	background-color: #bcbcbc;
	height:300px ;
	width: 100% ;
	padding-top: 5%;
}

/*il a un cadre et un fond transparent*/
#titre{
	margin-left:auto ;
	margin-right:auto;
	background-color: rgba(0,0,0, 0.4); 
	height: 40% ;
	width: 70% ;
	text-align: center;
	padding-top: 2%;
	font-size: 150%;
	border: 4px solid white;
}


#texte{
	/*Flex*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*sytle*/
	border: 4px solid white;
	margin-top: 3%;/*je n'ai pas reussi a mettre des espace entre avec flex*/
	background-color: #4c4c4c;
	padding: 2%;
}


#texte h2{
	/*Flex*/
	align-self: center;
	/*sytle*/
	color: white;
}


#lien_yt{
	text-align: center;
	text-decoration: none;
}


#video{
	/*Flex*/
	align-self: center;
	border: 2px solid white;
}	

/*@media screen and (max-width: 1280px)
{
    #video{
		width: none;
		height: none;
    }
}*/

/*block le plus bas du site qui contien les info sur le site*/
#bas{
	/*Flex*/
	position: middle;
	display: flex;
	justify-content: space-between;
	/*sytle*/
	margin-top: 3%;/*je n'ai pas reussi a mettre des espace entre avec flex*/
	background-color: white;
	color: black;
}


#bas a {
	/*Flex*/
	display: inline-flex;
	align-self: flex-start;
	flex-basis: content;
	

	width: 200px;
	height: 100%;
}


#image_lien{
	/*Flex*/
	width: 200px;
	align-self: flex-start;


}


#as ul {
	list-style: none;
}


#Auteurs{
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	list-style: none;
}

#Auteurs p {
	text-decoration: underline;
}


#mail{
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	list-style: none;
}

#mail p{
	text-decoration: underline;
}


#date{

	align-self: flex-end;

	margin-right: 1%;

	font-weight: bold;
	text-decoration: none;
	text-align: center;
	list-style: none;

	

}